*{
    margin:0px;
    padding: 0px;
}

main{
   /* background: #ddd;*/
    font-family: Arial, Helvetica, sans-serif;
    display: grid;    
    grid-template-rows: 210px 100%;
    grid-template-columns: 1fr 1.75fr 4fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height:auto;
    width: auto;
    
}
body{
    background-color:#FFEBE4;
}
ul{
    list-style-type: none;
}
li#linked{
    height: 50px;    
}

.header{
    grid-column: 1/span 4;
    background-color: #FF805F;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
    grid-row:1 / span 1;
    
}
.header.box{   
    width: 400px;
    border: 3px double white;
}
.header.name.box{
    font-size: 50px;
    border-bottom:none;
}
.header.job.box{
    border-top:none;
}

.sidebar{
  
    grid-row:2/span 1;
    grid-column:2 /span 1;
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5FFFCC;
    box-shadow: 5px 5px 5px #FFC0B2;
    
}
.sidebar img{
    border-radius: 100px;
    justify-items: center;
    align-self: center;
    margin-bottom:50px;
    margin-top: 20px;
   
}
.sidebar p{
    align-self: center;
    justify-items: center;
    font-family:'PT Serif', serif;
    font-size: 25px;
}
.sidebar h2{
    font-family:'Kodchasan', sans-serif;
    font-size: 25px;
    text-decoration: underline solid grey;
    padding-bottom: 10px;
}
.sidebar ul{
    padding-left: 35px;
    line-height: 2em;
   
}
.sidebar a{
    color: red;
}

.contact{
    padding-top: 10px;
    border-bottom: 1.5px solid #000;
    padding-bottom:20px;
    margin-bottom: 40px;
}


.mainbar{
    display: flex;
    flex-direction: column;
    grid-column: 3 /span 1;
    grid-row:2 / span 1;
    margin-left:20px;
    padding-left: 30px;
    
}
.mainbar div{
    padding-bottom: 10px;
    
}
.mainbar h2{
    border-bottom: 1.5px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.mainbar ul{
    margin-left:20px;
}
.mainbar p{
    padding-bottom: 10px;
}
.mainbar .experience{
    display:flex;
    flex-direction:column;
}
.float{
    display: flex;
    flex-direction:row;
}

.float .right{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-content:center;
    width: 500px;
}
.float .left{
    width: 300px; 
}

.skills{
    display: float;
    line-height: 25px;
}
.skills #left{
    float:left;
    width: 300px;
    list-style-type: square;
}
.skills #right{
    float:right;
    width: 300px;
    list-style-type: square;
}




